* {
  box-sizing: border-box;

}

body {
  margin-top: 0px;
  width: 1900px;
  height: 995px;
  margin-bottom: 0px;
  margin-left: 0px;
 

}

.bg {
  background-image: url(./Components/Assets/19cover.webp);
  width: 1920px;
  height: 995px;
}


.App {
  text-align: center;
}

.nav {
  font-size: medium;
  background-color: #2874ed;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items:stretch;
  gap: 2rem;
  padding: 0 1rem;
}

/* .bg {
  background-image: url(./Components/Assets/19cover.webp);

} */

.site-title {
  font-size: medium;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 1220px;
  margin-top: 30px;
}

.App-logo {
  height: 75px;
  pointer-events: none;
  /* margin-left: 10px; */
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100%;
  cursor: pointer;
}


.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .24rem;
}

.nav li.active {
  color: #113876;
}


.nav li.hover {
  background-color: rgb(216, 14, 14);
  color: rgb(121, 33, 33);
}


.main-home {
  max-width: 1000px;
  height: 600px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(13, 5, 108, 0.801);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  backdrop-filter: blur(10px);
  margin-top: 160px;
  margin-left: 500px;
}


.title
{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: antiquewhite;
  margin-bottom:0px;
  margin-top: 0px;  
}

.para1
{
  font-family: sans-serif;
  color: antiquewhite;
  font-size: 25px;
  margin-right: 0px;
  /* margin-bottom: 200px; */
  text-align:start;
  
}

.para2
{
  font-family: sans-serif;
  color: antiquewhite;
  font-size: 25px;
  margin-top: 3px;
  margin-right: 0px;
  text-align:start;  
}


.para3
{
  font-family: sans-serif;
  color: antiquewhite;
  font-size: 25px;
  margin-top: 3px;
  margin-right: 0px;
  text-align:start;  
}

.para4
{
  font-family: sans-serif;
  color: antiquewhite;
  font-size: 25px;
  margin-top: 5px;
  margin-right: 0px;
  text-align:start;  
}




.left {
  max-width: 850px;
  height: 640px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(13, 5, 108, 0.801);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  backdrop-filter: 5px;
  margin-top: 185px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 0px;
}




.heading
{
  font-family: 'Courier New', Courier, monospace;
  color: antiquewhite;
  font-size: 25px;
  margin-top: 3px;
  margin-right: 2px;
  text-align:center;  
}

.image{
  max-height: 480px;
}

.right {
  max-width: 880px;
  height: 640px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(13, 5, 108, 0.801);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  backdrop-filter: 5px;
  margin-top: -640px;
  margin-left: 1015px;
  margin-right: 0px;
}


.input
{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: red;
  text-align: center;
  padding: 15px;
  width: 70%;
  margin-bottom: 30px;
  border: 2px solid black;
  border-radius: 2px;
  font-size:medium;
}

::placeholder{
  color: rgb(226, 26, 26);
  font-size: medium;
}

#error
{
  font-size: 20px;
  color: whitesmoke;
  background-color: rgb(186, 22, 22);
  /* border: 0px solid rgb(194, 161, 161); */
  box-shadow: 0 0 2px 0px whitesmoke;

  
}

.temp{

  text-align: center;
  margin-top: 35px;
  font-size: medium;
  font-style: normal;
  font-family:'Courier New', Courier, monospace;
  color: aliceblue;

}


.area{

  text-align: center;
  margin-top: 30px;
  font-size: medium;
  font-style: normal;
  font-family:'Courier New', Courier, monospace;
  color: aliceblue;
  background-color: rgb(90, 157, 223);
  border: 1px solid rgb(194, 161, 161);
  box-shadow: 0 0 5px 2px whitesmoke;

}



.temp-range{
  
  text-align: center;
  margin-top: 35px;
  font-size: medium;
  font-style: normal;
  font-family:'Courier New', Courier, monospace;
  color: aliceblue;

}

.climate-condition
{
  text-align: center;
  margin-top: 35px;
  font-size: medium;
  font-style: normal;
  font-family:'Courier New', Courier, monospace;
  color: aliceblue;

}



.humidity{
 
  text-align: center;
  margin-top: 35px;
  font-size: medium;
  font-style: normal;
  font-family:'Courier New', Courier, monospace;
  color: aliceblue;
  
}

.feel-like{
  
  text-align: center;
  margin-top: 35px;
  font-size: medium;
  font-style: normal;
  font-family:'Courier New', Courier, monospace;
  color: aliceblue;

}



.temperature_main
{
    max-width: 870px;
    height: 440px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(13, 5, 108, 0.801);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: 5px;
    margin-top: 215px;
    margin-left: 530px;
    margin-right: 0px;

}


.temperature_title
{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: antiquewhite;
  margin-bottom:0px;
  margin-top: 0px;  
}

.input_Fah{

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: red;
  text-align: center;
  padding: 20px;
  /* max-width:fit-content; */
  width: 40%;
  margin-top: 0px;
  /* margin-bottom: 80px; */
  border: 2px solid black;
  border-radius: 1px;
  font-size:medium;

}

.temp_img{
  height: 80px;
  /* margin-bottom: 100px; */
  /* margin-left: 10px; */
}

.input_Cal{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: red;
  text-align: center;
  padding: 15px;
  /* max-width:fit-content; */
  width: 40%;
  margin-top: 0px;
  margin-bottom: 50px;
  border: 2px solid black;
  border-radius: 1px;
  font-size:medium;

}

.leftBt{
 
  max-width: 100%;
  padding: 15px;
  color: whitesmoke;
  background-color: blue;
  margin-right: 150px;
  cursor: pointer;
}

.rightBt{
    max-width: 100%;
    padding: 15px;
    color: whitesmoke;
    background-color: blue;
    margin-left: 10px;
    cursor: pointer;

}